* {
    font-family: "FiraCode Nerd Font Propo";
    font-size: 14px;
    /* font-weight: bold; */
    min-height: 15px;
}
window#waybar {
    background: alpha(@background, 0.7);
}
tooltip {
    background: alpha(@background, 0.9);
    border-radius: 10px;
}
tooltip label {
    color: @secondary;
    padding: 6px;
}
