#disk {
    color: @secondary;
    background: @background;
    padding: 0px 5px 0px 5px;
}
#memory {
    color: @secondary;
    background: @background;
    padding: 0px 5px 0px 5px;
}
#cpu {
    color: @secondary;
    background: @background;
    padding: 0px 20px 0px 5px;
    border-radius: 0px 0px 50px 0px;
}
