#mpris {
    font-family: "Symbols Nerd Font";
    min-width: 100px;
    padding: 0px 10px 0px 10px;
    border-radius: 0px 50px 0px 50px;
    background: @background;
    color: @secondary;
    font-weight: bold;
    font-size: 14px;
}

#mpris.playing {
    color: @secondary;
}

#mpris.paused {
    color: @secondary;
}

#mpris.stopped {
    color: @secondary;
}

#custom-mpris-prev, #custom-mpris-next {
    font-family: "Symbols Nerd Font";
    padding: 0px 5px 0px 5px;
    border-radius: 50%;
    background: @background;
    color: @secondary;
    font-weight: bold;
    font-size: 14px;
}

#custom-mpris-prev label, #custom-mpris-next label {
    padding: 0 2px;
}

#custom-mpris-prev label:hover, #custom-mpris-next label:hover {
    opacity: 0.7;
}

#custom-mpris-prev.hidden, #custom-mpris-next.hidden {
    opacity: 0;
}

#custom-mpris-prev.visible, #custom-mpris-next.visible {
    opacity: 1;
}
