#tray {
    color: @secondary;
    background: @background;
    border-radius: 0px 50px 0px 50px;
    padding: 0px 20px 0px 20px;
}
#tray menu * {
    color: @secondary;
    font-weight: normal;
    transition: all 0.3s ease;
}
