#workspaces {
    background: @background;
    padding: 5px 5px;
    border-radius: 16px;
    color: @primary;
}
#workspaces button {
    padding: 0px 5px;
    margin: 0px 3px;
    border-radius: 16px;
    color: transparent;
    background: @secondary_container;
    transition: all 0.3s ease-in-out;
}
#workspaces button.active {
    background-color: @primary;
    color: @secondary_container;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}
#workspaces button:hover {
    background-color: @secondary;
    color: @secondary_container;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
}
#workspaces button.urgent {
    background-color: @on_error_container;
    color: @secondary_container;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}
